<script>
let arr = ["val1","val2","val3","VAL4","xcfx","dfgdfg","ghjghj"];

for(let i = 0;i<arr.length;i++){
    document.write(arr[i] + "<br/>");
}

for(a in arr){
    document.write(arr[a] + "<br/>");
}
</script>

<script>
    let a = 0;
    for(let i =1;i<=4;i++){
        a = a + i;
    }
    document.write(a);
</script>

*****
****
***
**
*