<script>
    let a = 1;
    for(let i = 1; i<=100;i++){
        if(a==1){
            document.write("-"+i+"<br/>");    
        }else if(a==2){
            document.write(i+"<br/>");
        }else if(a==3){
            document.write(i+"<br/>");
        }else{
            document.write(i+"<br/>");
            a=0;
        }
        a++;
    }
</script>