<script>
let a = 1 % 3;
// document.write(a);
for(let i = 1;i<=10;i++){
    if(i % 3 > 0){
        document.write(i+"<br/>");
    }else{
        document.write("-"+i+"<br/>");
    }
}
</script>
*****
****
***
**
*